
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/imgs/background.jpg);
}
.logo img{
    width: 180px;
    margin: 25px 40px;
}
header{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
.menu ul li{
    margin: 40px 80px 20px 0px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: tahoma;
    font-size: 23px
}
.menu ul li a:hover{
    text-decoration: underline rgb(255, 255, 255) 3px;
}
i{
    font-size: 35px;
    margin: 35px 50px;
    color: #fff;
}
i:hover{
    color: black;
}
.main{
    width: 90%;
    height: 500px;
    position: relative;
}
.main img{
    width: 600px;
    margin-left: 33%;
    position: absolute;
}
.main h1{
    position: absolute;
    left: 33%;
    top: 50%;
    font-size: 100px;
    font-family: 'Nothing You Could Do', cursive;
    color: #fff;
    text-shadow: 2px -17px 10px black;
}
.main h1:hover{
    color: rgb(230, 4, 4);
}
footer p{
    text-align: center;
    font-size: 12px;
    color: rgb(255, 249, 249);
    font-family: tahoma;
    padding-top: 90px;
}
